table a:link {
    color: blue;
}

 table a:hover {
    color: black;
}

table a:visited {
    color: gray;
}

table a:link, a:visited, a:hover {
    text-decoration: none;
}

table, th, td {
  table-layout: fixed;
  width: 100%;
  border: 2px solid black;
   border-collapse: collapse;
}

th {
height: 80px;
background-color: #D1FEFF
}

td {
text-align: center
}

thead th:nth-child(1) {
  width: 50%;
}

thead th:nth-child(2) {
  width: 50%;
}

thead th:nth-child(3) {
  width: 50%;
}

thead th:nth-child(4) {
  width: 50%;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

/* Style the navigation bar */
.navbar {
width: 100%;
background-color: #555;
overflow: auto;
}

/* Navbar links */
.navbar a {
float: left;
text-align: center;
padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
background-color: #000;
}

/* Current/active navbar link */
.active {
background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
.navbar a {
float: none;
display: block;
}
}
